#toplevel_page_nubu-panel .wp-submenu {
	display: flex;
	flex-direction: column-reverse;	
}

#toplevel_page_nubu-panel li.wp-first-item {
	display: none;
}

.container-carbon_fields_container_products_minimum_quantity .cf-container-user-meta {
	max-width: 850px;
}

.container-carbon_fields_container_products_minimum_quantity .cf-association__option-type,
.container-carbon_fields_container_products_minimum_quantity .cf-association__option-action.cf-association__option-action--edit {
	display: none;
}

.container-carbon_fields_container_products_minimum_quantity .cf-complex__tabs--tabbed-vertical {
	flex: 0 0 10%;
}

.nubu_cust_switch {
	position: relative;
	display: block;
	width: 50px;
	height: 26px;
}

.nubu_cust_switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.nubu_cust_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.3s;
	border-radius: 34px;
}

.nubu_cust_slider::before {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: 0.3s;
	border-radius: 50%;
}

.nubu_cust_switch input:checked + .nubu_cust_slider {
	background-color: #4caf50;
}

.nubu_cust_switch input:checked + .nubu_cust_slider::before {
	transform: translateX(24px);
}